[submodule "ui/freeboard"]
	path = ui/freeboard
	url = git@github.com:BIPES/freeboard.git
[submodule "micropython"]
	path = micropython
	url = git@github.com:micropython/micropython.git
[submodule "ui/bipes-micropython-unicorn"]
	path = ui/bipes-micropython-unicorn
	url = git@github.com:BIPES/bipes-micropython-unicorn.git
[submodule "Databoard"]
	path = databoard
	url = https://github.com/BIPES/Databoard.git
[submodule "blockly"]
  path = blockly
  url = https://github.com/google/blockly.git
[submodule "webrepl"]
	path = webrepl
	url = git@github.com:micropython/webrepl.git
